# PostgreSQL Single Instance Mode
# Configure postgres via pgserver.postgres_conf
services:
  postgres:
    container_name: ${NAME:?}
    image: ${IMAGE:-postgres:${VERSION}}
    command: ${COMMAND:-postgres}
    restart: always
    volumes:
      - "$PWD:$PWD"
    working_dir: $PWD
    ports:
      - ${PORT:?}:${PORT}
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - PGPORT=${PORT}
